.add-product-heading {
  margin-bottom: 50px;
}

.add-product-form {
  max-width: 500px;
  width: 100%;
}

.add-product-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.add-product-form-field label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.add-product-form button {
  width: 100%;
  margin: 40px 0 20px 0;
}