.product-detail-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 60px;

  @media(max-width: 550px) {
    flex-direction: column;
    padding: 0;
  }

  @media(max-width: 1000px) {
    flex-direction: column;
    padding: 0 40px;
  }
}

.product-detail-content {
  max-width: 500px;

  @media(max-width: 550px) {
    max-width: unset;
  }
}

.product-detail-page img {
  height: 600px;
  object-fit: cover;
  margin-right: 40px;

  @media(max-width: 1000px) {
    height: 400px;
    margin-bottom: 40px;
  }

  @media(max-width: 550px) {
    margin-right: 0;
    height: 350px;
  }
}

.product-detail-page .product-name {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 40px;
  border-bottom: 4px solid #121212;
  padding-bottom: 20px;
}

.product-detail-page .product-description {
  color: #292929;
  margin-bottom: 40px;
}

.product-detail-page .product-price {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.product-detail-cart-message {
  margin-top: 20px;
}

.product-name-input{
  font-size: 2rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: rgb(230, 227, 227);
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.product-description-input{
  font-size: 1.25rem;
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
  background-color: rgb(230, 227, 227);
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.product-price-input{
  font-size: 1.25rem;
  width: 25%;
  border: none;
  border-radius: 10px;
  background-color: rgb(230, 227, 227);
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}