.footer-container {
  width: 100%;
  margin-top: 80px;
  padding: 80px 80px 80px 80px;
  background: #121212;
  color: white;

  @media(max-width: 550px) {
    padding: 40px 20px;
  }
}

.footer-container .top {
  display: flex;
  padding-bottom: 40px;

  @media(max-width: 900px) {
    flex-direction: column;
  }
}

.footer-container .bottom {
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.footer-container .icon {
  height: 32px;
  width: 32px;
  margin: 0 16px;
  fill: #f5f5f5;
  cursor: pointer;
}

.footer-container .icon.first {
  margin-left: 0;
}

.footer-container .icon.last {
  margin-right: 0;
}

.footer-container > a {
  display: block;
  height: 32px;
}

.footer-section-heading {
  font-size: 24px;
  margin-bottom: 16px;
}

.footer-section {
  margin-right: 80px;
  margin-bottom: 40px;
}

.footer-section-payment {
  display: flex;
  width: 400px;
  flex-wrap: wrap;

  @media(max-width: 550px) {
    width: unset;
  }
}

.footer-section-payment img {
  height: 35px;
  width: 85px;
  margin-right: 10px;
  margin-bottom: 10px;;
}