.header-container {
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.6);
}

.header-cart-bar {
  height: 50px;
  padding: 0 80px;
  background: #121212;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.header-main .top {
  height: 100px;
  padding: 20px 80px 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top-nav a {
  margin-left: 20px;
  color: #121212;
  text-decoration: none;
}

.header-top-nav a:hover {
  border-bottom: 1px solid #121212;
}

.header-cart-bar .header-cart-link {
  color: white;
}

.header-cart-bar .header-cart-link:hover {
  border-bottom: 1px solid white;
}

.logo-link {
  text-decoration: none;
}

.header-logo {
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  border: 2px solid #121212;
  color: #121212;
  text-decoration: none;
}

.line {
  width: 100%;
  height: 2px;
  background: #121212;
}
